:root {
  /* Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --clr-attributes: hsl(228, 45%, 44%);

  /* Sizes */
  --fs-text: 15px;
  --fs-title: 24px;
  --fs-h1: 80px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  font-family: Inter, sans-serif;
  font-size: var(--fs-text);
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100dvh;
  min-height: 100vh;
  width: min(100%, 1440px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li {
  max-width: 75ch;
  text-wrap: pretty;
}

header,
footer,
main,
article,
section {
  container-type: inline-size;
}

/* Attributes */
.attribution {
  font-size: 11px;
  text-align: center;

  >a {
    color: var(--clr-attributes)
  }
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.s-hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "image image news"
    "title text-btn news";
  gap: 2.5rem;

  >* {
    border: 1px solid var(--grayish-blue);
  }


  img {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
    grid-area: title;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    /* width: 70%; */
  }

  >div {
    grid-area: text-btn;
  }

  aside {
    grid-area: news;

    ul {
      list-style: none;
    }
  }
}

.s-cards {
  margin-top: 4rem;
}